/* src/styles/Navbar.css */
.navbar {
    background-color: var(--white);
    border-bottom: 2px solid var(--light-yellow);
}

.navbar-link {
    position: relative;
}

.navbar-link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--primary-yellow);
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.navbar-link:hover:after {
    width: 100%;
}